<div class="box-big">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card mt-2 mb-2 rounded-4 shadow-lg" style="width: 26rem;">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="currentImage" class="d-block w-100 position-relative" alt="">
            <div class="position-absolute top-0 end-0 pt-3 pe-2">
              <p class="bg-dark py-1 px-3 text-white rounded-4" style="font-size: 11px;">{{sequence}}/5</p>
            </div>
          </div>  
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#333" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#333" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </button> -->
      </div>
      <div class="card-body">
        <div class="d-flex">
          <h2 class="card-title text-danger">$608</h2>
          <h6 class="card-title text-decoration-line-through d-flex align-items-end pb-1 ps-3 text-secondary">$826</h6>
          <span class="bg-warning rounded-3 px-2 ms-2 text-secondary sale" [class.active]="bestSales" style="height: 20px; font-size: 13px;" >Best Seller</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title" >Apple IPhone 13</h5>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107" class="bi bi-star-fill me-1 mb-1" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>4.9 (2000+)</span>
          
        </div>
        <p class="card-text" style="font-size: 12px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h6 class="card-title">Color</h6>
        <div class="row">
          <div class="col-6">
            <div class="card-text d-flex justify-content-between mau">
              <p class="rounded-circle bg-black size" [class.chonbl]="selectedColor === 'Đen'" (click)="activebl()" style="width: 25px; height: 25px;"></p>
              <p class="rounded-circle bg-danger size" [class.chonred]="selectedColor === 'Đỏ'" (click)="activered()" style="width: 25px; height: 25px; "></p>
              <p class="rounded-circle bg-success size" [class.chongreen]="selectedColor === 'Xanh lá'" (click)="activegreen()" style="width: 25px; height: 25px;"></p>
              <p class="rounded-circle bg-warning-subtle size" [class.chonda]="selectedColor === 'Vàng Gold'" (click)="activeda()" style="width: 25px; height: 25px;"></p>
              <p class="rounded-circle bg-warning size" [class.chonyellow]="selectedColor === 'Vàng đậm'" (click)="activeyellow()" style="width: 25px; height: 25px;"></p>
            </div>
          </div>
        </div>
        <h6 class="card-title mt-2">Size (cm)</h6>
        <div class="row">
          <div class="col-11">
            <div class="card-text d-flex justify-content-between">
              <p class="bg-body-secondary py-2 px-3 text-dark rounded-5 size" [class.chon2]="selectedSize === '32'" (click)="activeSize1()">32GB</p>
              <p class="bg-body-secondary py-2 px-3 text-dark rounded-5 size" [class.chon2]="selectedSize === '54'" (click)="activeSize2()">54GB</p>
              <p class="bg-body-secondary py-2 px-3 text-dark rounded-5 size" [class.chon2]="selectedSize === '128'" (click)="activeSize3()">128GB</p>
              <p class="bg-body-secondary py-2 px-3 text-dark rounded-5 size" [class.chon2]="selectedSize === '256'" (click)="activeSize4()">256GB</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <h6 class="card-title">Quantity</h6>
          <span class="ms-2 py-1 px-3 mb-1 rounded-5" style="background-color: #cefccc;">In Stock</span>
        </div>
        <div class="box d-flex justify-content-center align-items-center">
          <span class="text-center bg-body-secondary py-1 px-3 m-1">-</span>
          <input type="text" value="1" class="text-center p-1 border-0" style="width: 30px;">
          <span class="text-center bg-body-secondary py-1 px-3 m-1">+</span>
        </div>
        <div class="box-buy mt-2">
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                  <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.6 7.6 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                </svg>
                <span class="position-absolute top-15 start-110 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </button>
              <button type="button" class="btn position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2m3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6z"/>
                </svg>
                <span class="position-absolute top-15 start-110 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </button>
            </div>
            <div class="col-8">
              <div class="d-grid gap-2">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"  style="background-color: #1d3169;" [disabled]="!selectedColor || !selectedSize">Buy Now</button>
              </div>
            </div>
          </div>
       <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">MUA HÀNG THÀNH CÔNG</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5>Tóm tắt đơn hàng: </h5>
                Tên sản phẩm: Apple IPhone 13 <br>
                Màu: {{selectedColor}} <br>
                Dung lượng: {{selectedSize}} GB
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      
     
    </div>
  </div>
</div>
