@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.box-big{
    font-family: "Poppins", sans-serif !important;
    font-size: 14px !important;
    transition: all 0.5s ease !important;
    background-color: #beccf8;

}
.carousel-item img{
    height: 390px;
    border-radius: 20px;
}
.chonbl{
    border-radius: 50%;
    border: 2px solid #ffffff;
    transform: scale(1.2);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
}
.chonred{
    border-radius: 50%; 
    border: 2px solid #ffffff;
    transform: scale(1.2);
    box-shadow:  0 0 10px red;
}
.chongreen{
    border-radius: 50%; 
    border: 2px solid #ffffff;
    transform: scale(1.2);
    box-shadow:  0 0 10px green;
}
.chonda{
    border-radius: 50%; 
    border: 2px solid #ffffff;
    transform: scale(1.2);
    box-shadow:  0 0 10px #ceae43;
}
.chonyellow{
    border-radius: 50%; 
    border: 2px solid #ffffff;
    transform: scale(1.2);
    box-shadow:  0 0 10px yellow;
}
.chon2{
    background-color: #333 !important;
    color: #fff !important;
}
.box{
    border: 1px solid #ccccd3 !important;
    border-radius: 5px;
    width: 130px;
}
.box-buy{
    border: 1px solid #ccccd3 !important;
    border-radius: 5px;
    padding: 5px;
}
.size{
    cursor: pointer;
}
.sale.active{
    display: none;
}